/* General styles */
body {
  margin: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

/* Navigation bar styles */
/* CSS for Navbar */
.navbar {
  background-color: #ffecc2;
  color: #000000;
  height: 120px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
}

.logo img {
  width: 160px;
  height: 120px;
  margin-right: auto;
  padding: 5px;
  margin: 5px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu-item {
  margin: 0 15px;
}

.menu-item a {
  color: #000000;
  text-decoration: none;
}

.menu-item a:hover {
  text-decoration: underline;
}

.logout {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Responsive Navbar */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    flex-direction: column;
    margin-top: 10px;
  }

  .menu-item {
    margin: 5px 0;
  }
}

.menu-item a {
  font-size: 20px;
  color: black;

  padding: 0.5rem 1rem; /* Padding for menu items */
}

.menu-item a:hover {
  color: #FCA218;
}

/* Content area styles */
.content {
  flex: 1;
  padding: 2rem; /* Padding for content area */

}

.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 2rem; /* Padding for content area */
}

.search-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-tools input {
  padding: 0.5rem; /* Padding for input field */
  margin-bottom: 1rem; /* Margin for spacing */
}

.search-tools button {
  padding: 0.5rem 1rem; /* Padding for button */
  cursor: pointer;
  margin-right: 1rem; /* Margin for spacing */
}

.search-tools ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search-tools li {
  margin-bottom: 1rem; /* Margin for spacing between list items */
  padding: 0.5rem 1rem; /* Padding for list item content */
}

.contact {
  text-align: center;
  padding: 2rem; /* Padding for contact content */
}

.about {
  text-align: center;
  padding: 2rem; /* Padding for about content */
}

/* Basic styles */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.login-form h2 {
  margin-bottom: 20px;
}

/* Form styles */
.login-form form {
  width: 100%;
  max-width: 350px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form .form-control:focus {
  border-color: #80bdff;
  outline: none;
}

.login-form button[type="submit"] {
  background-color: #FCA218;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-form button[type="submit"]:hover {
  background-color:#FCA218;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.register-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #80bdff;
  outline: none;
}

.btn-primary {
  background-color: #FCA218;
  color: #fff;
  font-weight:bold;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color:#FCA218;
}

.logout {
  background-color: #282c34; /* Standout color for visibility */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase; /* Optional for a more distinct look */
  transition: background-color 0.2s ease-in-out;
  /* Added styles for alignment */
  display: inline-block; /* Make it behave like other menu items */
  margin-right: 1rem; /* Add margin for spacing */
}


.logout:hover {
  background-color: #FCA218; /* Slightly darker hover effect */
}

.footer-css {
background-color: #a9a49c;
display: flex;
flex-direction: column;

align-items: center;
justify-content: center;
}

.fot{
  text-align: center;
  padding-top: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: #000000;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.footer-links img {
  width: 30px;
  height: 30px;
  padding: 10px;
}

.copyright {
  color:#fff;
}

.icons {
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  color: #fff;
}


.home {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 25px;
}

.numero {
font-size: 50px;
color: #595b60;
margin:0;
}


.bienvenido {
  font-size: 40px; /* Cambiar el tamaño del texto a 24 píxeles (puedes ajustar el valor según sea necesario) */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;/* Cambiar la fuente del texto */
  font-style: bold;
  color:#FCA218;
  text-align: center;
  margin: 20;
}

.iconsHome{
  width: 120px;
  height: 120px;
  
}



.difs{
  background-color: #F2AE1C;
  height: auto;
  padding: 20px;
  margin: 20px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  

}

.about {
  font-size: 40px; /* Cambiar el tamaño del texto a 24 píxeles (puedes ajustar el valor según sea necesario) */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;/* Cambiar la fuente del texto */
  font-style: bold;
  color:#FCA218;
  margin: 0;
  text-align:center;
  align-items: center;


}


.tabla{
  border: white;
  margin: 20px;
  font-size: 20px;
  text-align:justify;
  padding-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  
}

.imagenHerramienta {
  width: 100px;
  height: 100px;
}

.herramienta-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem; /* Padding for content area */

}

.slider{
  color: #F2AE1C;
  padding: 20px;
  display: flex;
}

.buscar{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-style: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.iconsHome{
  width: 120px;
  height: 120px;
  
}

.herramientaInicio {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: center;
  flex-wrap: wrap; /* Ajusta los elementos de la lista en varias filas */
  padding: 20px; /* Espaciado interno */
  background-color: #f9f9f9; /* Color de fondo */

 
}

.herramientaInicio li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px; /* Espaciado entre elementos de la lista */
  border: 2px solid #ccc; /* Borde alrededor de cada elemento */
  border-radius: 5px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  background-color: #f9f9f9; /* Color de fondo */
  margin-right: 20px; /* Espaciado derecho */
  text-align: center; /* Alineación del texto */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  width: 350px; /* Ancho del elemento */
  height: 350px; /* Altura del elemento */


  

}

.herramientaInicio h3 {
  font-size: 20px; /* Tamaño de fuente para el título de la herramienta */
  margin-bottom: 10px; /* Espaciado inferior para el título */
}

.herramientaInicio p {
 
  margin: 0; /* Elimina el margen predeterminado de los párrafos */
  margin-bottom: 10px; /* Espaciado inferior entre párrafos */

}

.herramientaInicio img {
  max-width: 100px; /* Tamaño máximo de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
  margin-bottom: 10px; /* Espaciado inferior para la imagen */
}

.herramientaInicio a {
  color: #FCA218; /* Color del enlace */
  text-decoration: none; /* Elimina el subrayado predeterminado */
  font-weight: bold; /* Negrita */
}

.herramientaInicio a:hover {
  text-decoration: underline; /* Subrayado al pasar el cursor sobre el enlace */
}

/* Estilos para el contenedor principal */
.buscar-herramienta-container {
  padding: 20px;
}

/* Estilos para el título */
.about {
  font-size: 24px;
  font-weight: bold;
  color: #FCA218;
  margin-bottom: 20px;
}

/* Estilos para el área de búsqueda */
.buscar {
  margin-bottom: 20px;
}

.buscar p {
  font-size: 16px;
  color: #333;
}

/* Estilos para el campo de búsqueda */
.filtro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  padding: 10px;
  margin: 10px;
}

.filtro label {
  color: #333;
  margin-bottom: 10px;
}
.filtro input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: large;
} 

.filtroPrecio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: max-content;
  padding: 10px;
  margin: 10px;
}


/* Estilos para el slider */
.slider {
  margin-bottom: 20px;
}

/* Estilos para el botón de borrar filtros */
.btn-primary {
  background-color: #FCA218;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #FFD700; /* Cambia el color al pasar el cursor */
}

/* Estilos para la lista de herramientas */


.imagenHerramienta {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}
.herramientaBuscar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.herramientaBuscar li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  width: 350px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.userData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
} 

.myUser {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
  
}

.myUserInfo {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}



.myUserInfo h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.myUserInfo p {
  font-size: 16px;
  margin-bottom: 5px;
}
.myUserInfo a {
  text-decoration: none;
  color: #FCA218;
  font-weight: bold;
}

.myUserInfo a:hover {
  color: #FCA218;
}

.mapsUser {
  width: 400px;
  height: 400px;
  margin: 20px;
  border: #F2AE1C 5px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  
}

.mapsUser button {
  background-color: #FCA218;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px;
} 

.myTools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px; /* Espaciado entre elementos de la lista */
  border: 2px solid #ccc; /* Borde alrededor de cada elemento */
  border-radius: 5px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  background-color: #f9f9f9; /* Color de fondo */
  text-align: center; /* Alineación del texto */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  width: 350px; /* Ancho del elemento */
  height: 350px; /* Altura del elemento */
  margin: 10px;

}



.myTools h3 {
  font-size: 20px; /* Tamaño de fuente para el título de la herramienta */
  margin-bottom: 10px; /* Espaciado inferior para el título */
}

.myTools p {
  margin: 0; /* Elimina el margen predeterminado de los párrafos */
  margin-bottom: 10px; /* Espaciado inferior entre párrafos */
}

.myTools img {
  max-width: 100px; /* Tamaño máximo de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
  margin-bottom: 10px; /* Espaciado inferior para la imagen */
}

.myTools a {
  color: #FCA218; /* Color del enlace */
  text-decoration: none; /* Elimina el subrayado predeterminado */
  font-weight: bold; /* Negrita */
}

.myTools a:hover {
  text-decoration: underline; /* Subrayado al pasar el cursor sobre el enlace */
}

.allMyTools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.misHerramientas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.myTools .cancelar {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px;
} 

.editarHerramienta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.editTool {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 20px;
  font-size: larger;
}

.editTool input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: large;
}
.editTool label {
  color: #333;
  margin-bottom: 10px;
}

.editTool .eliminar {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
}

.herramientaDetalle {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.herramientaDetalle h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.herramientaDetalle p {
  font-size: 16px;
  margin-bottom: 10px;
}

.herramientaDetalle img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.herramientaDetalle .propietario {
  margin-top: 20px;
}

.herramientaDetalle .propietario h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.herramientaDetalle .propietario p {
  margin-bottom: 5px;
}

.herramientaDetalle .mapa {
  margin-top: 20px;
  height: 300px;
  border: 1px solid #ccc;
}

.herramientaDetalle .react-calendar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.herramientaDetalle .react-calendar .react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.herramientaDetalle .react-calendar .react-calendar__navigation button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.herramientaDetalle .react-calendar .react-calendar__navigation button:hover {
  color: #000;
}

.herramientaDetalle .react-calendar .react-calendar__month-view {
  padding: 15px;
}

.herramientaDetalle .react-calendar .react-calendar__month-view__weekday {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.herramientaDetalle .react-calendar .react-calendar__month-view__day {
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
}

.herramientaDetalle .react-calendar .react-calendar__month-view__day--selected {
  background-color: #FCA218;
  color: #fff;
}

.herramientaDetalle .react-calendar .react-calendar__month-view__day--keyboard-selected {
  background-color: #007bff;
  color: #fff;
}

.herramientaDetalle .react-calendar .react-calendar__tile--disabled {
  background-color: #e8e8e8;
  cursor: default;
}

.datosReserva {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
} 

.sobreNosotros {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 20px;
  width: 50%;
  text-align: center;
  margin: 0 auto;

} 

.allMyReservas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space- ;
  padding: 20px;
} 
.reservas {
  display: flex;
  flex-direction: column;
  align-items: center;

}